<html>
<head>
<style>
body {
  font-family:sans-serif;
}

h1 {
  text-align:center;
  font-size:4em;
  margin:0;
}

p.description {
  margin:1em;
  font-size:{{ d_scale }}em;
  margin-left:10%;
  margin-right:10%;
}

p.hint, p.suggestion {
  font-style:italic;
  color:#333;
  font-size:1.5em;
  text-align:center;
}

</style>  
</head>
<body>
<h1>{{ campaign.name }}</h1>
{% if compaign.shortcode_number %}<div style='float:right;margin:0.5em;'>
<img src='https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=smsto:{{ campaign.shortcode_number }}:{{ campaign.shortcode_content }}&choe=UTF-8&chld=|0'/><p class='suggestion'>Scan to donate</p></div>{% endif %}
<p class='description'>{{ campaign.description }}<p>
<p class='suggestion'>scan the code with your phone to find out more.</p>
<center><img src='https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl={{ campaign.get_short_url }}&choe=UTF-8&chld=|0' width='60%'/></center>
<p class='hint'>(search your phone app store for 'QR code')</p>
{% if campaign.shortcode_number %}

{% endif %}
</body>
</html>
