body {
  font-family:sans-serif;
  margin:auto;
  margin-top:3em;
}

h1 {
  font-size:3em;
}

ul.options {
  list-style:none;
  margin:0;
}

li.option {
  margin:0;
  margin-bottom:1em;
  vertical-align:middle;
  font-size:2em;
}

li.option img {
  vertical-align:middle;
}
